# build folder
build
dist
env

# doc builds
doc/build
doc/source/reference/generated

# python cache files
__pycache__
.cache
.pytest_cache


# pyc files
*.pyc

# other files
*~
/.metadata/
.project
.vscode
.pydevproject
.settings/
*egg*
Cases
